.sidebar-wrapper {
  width: 20%;
  min-width: 75px;
  position: fixed;
  top: 3%;
  left: 2%;
  box-shadow: var(--box-shadow);
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6%);
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 12px;
  color: var(--color-darkModeLight);
}

.user-info {
  display: flex;
  flex-direction: column;
}

hr {
  width: 60%;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 15px;
}

.sidebar__img-wrapper {
  width: 100%;
  margin-bottom: 15px;
}

.sidebar__img {
  width: 40%;
  border-radius: 50%;
}

.sidebar__img--logout {
  width: 70%;
}

.sidebar__links {
  height: 35%;
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.sidebar__link {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  display: flex;
  gap: 10px;
  min-width: max-content;
  border-radius: 8px;
}

.sidebar__link.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebar__logout-btn {
  background-color: transparent;
  border: none;
  padding: 15px 25px;
  align-self: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar__logout-icon {
  font-size: 28px;
}

@media all and (max-width: 768px) {
  .sidebar-wrapper {
    width: 15%;
  }

  .sidebar__link-title {
    display: none;
  }

  .sidebar__logout-title {
    display: none;
  }

  .sidebar__link {
    justify-content: center;
  }
}

@media all and (max-width: 481px) {
  .sidebar-wrapper {
    width: 100%;
    height: 13%;
    flex-direction: row;
    padding: 0;
    left: 0;
    top: 87%;
    border-radius: 0;
  }

  .sidebar-wrapper--logout {
    display: none;
  }

  .sidebar__links {
    flex-direction: row;
    height: 35px;
    justify-content: center;
    width: 65%;
    max-width: 250px;
  }

  .sidebar__link {
    height: 100%;
    min-width: 48px;
  }

  .user-info {
    height: 100%;
  }
  .sidebar__logout-btn {
    padding: 0;
    justify-content: center;
  }

  .user-info {
    max-width: 70px;
  }

  hr {
    display: none;
  }

  .sidebar__img-wrapper {
    margin-bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar__img {
    height: 80%;
    width: 80%;
  }

  .user-info > p {
    display: none;
  }

  .user-info, .sidebar__logout-btn {
    width: 50px;
  }
}
